*{margin: 0;padding: 0;}
ul{list-style-type:none;}
ul li{float: left;margin-left: 10px;border: 0.5px solid black;border-radius: 5px;padding: 2px 5px;transition: all 0.3s;cursor: pointer;}
ul li:hover{color: deepskyblue;border-color: deepskyblue;}
.list{margin: 40px;}
.result{float: right;}
.ani{height:70px;position: relative;right: 0;border: 1px solid black;padding: 2px 5px;margin: 10px 5px;border-radius: 5px;animation: show 0.5s linear backwards;transition: height 0.1s;width: 303px;opacity: 1;background-color: white;clear: both;}
@keyframes show{from{right: -200px;} to{right: 0;}}
img{width: 20%;margin-top: -12.5%;}
.insideR{width: 255px;margin-left: 15%;overflow: hidden;}
.close{cursor: pointer;float: right;margin:0px 10px;}
h4{margin: 1px 20px;}
.content{word-wrap: break-word;margin-top: 5px;margin-left: 20px;}
.disappear{animation: hide 1s linear forwards;}
@keyframes hide{
	from{height: 100%;}
	to{height: 0;}
}